*:focus {
  outline: none;
}

.home {
  color: white;
  width: 100vw;
  max-width: 500px;
  padding: 50px 10px;
  margin-bottom: 100px;
}

.home > .title {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  padding: 40px 0;
}

.home > h3 {
  font-size: 20px;
  font-weight: 300;
}

.record__box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.record__box > .amount__income,
.amount__expense {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  background: white;
  border-radius: 20px;
  border: 2px solid var(--clr);
  color: var(--clr);
}

.amount__income > p {
  color: green;
}

.amount__expense > p {
  color: red;
}

.history__title {
  padding: 30px 0 10px 0;
  border-bottom: 1px solid rgb(129, 129, 129);
  margin-bottom: 10px;
}

.record__expense > div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid red;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  color: var(--clr);
}

.record__income > div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid green;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  color: var(--clr);
}

.record__income,
.record__expense {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete,
.edit {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.delete {
  background: red;
}

.edit {
  background: #29fd53;
}

.delete:hover,
.edit:hover {
  background: transparent;
}

.delete:hover > :first-child {
  color: red;
}

.edit:hover > :first-child {
  color: #29fd53;
}

.delete > :first-child {
  color: white;
}

.edit > :first-child {
  color: black;
}

.history {
  max-height: 250px;
  overflow-y: auto;
}

.transaction > button {
  background: transparent;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  margin-right: 5px;
}

.transaction > .active {
  background: #29fd53;
  color: var(--clr);
  border: none;
  transition: 0.5s;
}

.t__title {
  margin-top: 10px;
}

.transaction > input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 5px;
}

.input-edit {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--clr);
  padding: 10px;
  margin: 10px 0;
}

.add {
  width: 100%;
  margin: 30px 0;
}

.add:hover {
  background: #29fd53;
  color: black;
  border: 1px solid var(--clr);
  transition: 0.5s;
}
