.title {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  padding: 40px 0;
  color: white;
}

.resetpassword {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.resetpassword > p {
  color: white;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 12px;
}

.resetpassword > :nth-child(1):hover {
  color: #29fd53;
  text-decoration: underline;
}

.resetpassword > :nth-child(2):hover {
  color: red;
  text-decoration: underline;
}
