.memo {
  color: white;
  width: 100vw;
  height: 100vh;
  max-width: 500px;
}

.todo__record {
  max-height: 56vh;
  overflow-y: auto;
}

@media only screen and (max-width: 900px) {
  .todo__record {
    height: 65vh;
  }
}

.todo__list {
  display: flex;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #42a5f5;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
}

.todo__list > div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid #42a5f5;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  color: var(--clr);
}
