.text__desc {
  color: white;
  text-align: justify;
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

.text__desc > a {
  margin-left: 5px;
  color: whitesmoke;
}

.login__btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.login__btn > p {
  color: white;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 12px;
}

.login__btn > :nth-child(1):hover {
  color: #29fd53;
  text-decoration: underline;
}
